<b><p class="lead mb-3">Welcome <%= name %></p></b>

<a href="/notes" class="btn btn-secondary">Notes</a>

<br>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Title</div>
    <div class="card-body">
      <p class="card-text">Note Note note</p>
    </div>
</div>

<br>

<button type="button" class="btn btn-primary" ><a href="/note/createNote"><h1>+</h1></a></button>